[Unit]
Description=Persist the battery charging threshold after %%i
After=%%i.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=%%s -c 'echo %d > /sys/class/power_supply/BAT?/charge_control_end_threshold'

[Install]
WantedBy=%%i.target
