[Unit]
Description=Persist the battery charging threshold between {{ .Event }} 
After={{ .Target }}.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/usr/bin/bash -c 'echo {{ .Threshold }} > /sys/class/power_supply/BAT?/charge_control_end_threshold'

[Install]
WantedBy={{ .Target }}.target
